body{
    margin: 0;
    padding: 0;
    position: relative;
}
header{
    padding: 50px;
    text-align: center;
    background-color:lightcyan;
}
nav{
    background-color:black;
  
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    

}
ul::after{
    content: " ";
    display: block;
    clear: both;
}
nav ul li {
    float: left;


}
nav ul li a{
    
    padding:16px 22px;
    display: block;
    color: rgb(204, 194, 194);
    background-color:rgb(31, 31, 19);
    text-decoration: none;
    font-size: larger;

}
nav ul li a:not(.active):hover{
    color: rgb(187, 8, 8);
    background-color: azure;
}
main::after{
    content: "";
    display: block;
    clear: both;
}
a.active{
    background-color:gray;
    color: aliceblue;
}
.ol{
     box-sizing: border-box;
    padding-left: 10px;
    height: 600px;
 float: left;
    overflow: auto;
}
aside{
   
    width: 35%;
    background-color:rgba(250, 250, 250, 0.274);
   
}
article{
   
    width: 70%;
    background-color: rgb(209, 199, 184);
  
}
footer{
    padding: 50px;
    background-color:rgb(46, 44, 44);
    text-align: center;
    color: aliceblue;
  
}
.card1 img {
    top: 50%;
    left: 50%;
   margin: auto;
    width:60%;
    border-radius: 12x;
    overflow: hidden;
    margin:auto;
    object-fit: cover;
    display: block;
    padding:10px;
}
.card2 img {
    top: 50%;
    float:left;

    left: 500px;
   margin: auto;
    width:60%;
    border-radius: 12x;
    overflow: hidden;
    margin:auto;
    object-fit: cover;
    display: inline-block;
    padding:10px;
}
.para{
    margin-top:350px;
}
.card3{
     top: 50%;
    float: left;

    left: 500px;
   margin: auto;
    width:60%;
    border-radius: 12x;
    overflow: hidden;
    margin:auto;
    object-fit: cover;
    display: inline-block;
    padding:10px;

}
