body{
    background-color:cadetblue;
}
.over{
    top: 70%;
    left: 50%;
    transform:translate(-50%,-50%);
     width: 60%;
    margin: auto;
    border-radius: 12px;
    overflow:hidden;
    position: absolute;
}
.over img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.over footer{  
    background-color:white;
    padding: 20px;
}
.over-titles{
    padding: 0px;
    margin-bottom:0px;
}
.over-description{
    margin-top: -20px;
}